#artists {
    $image-space: .5em;

    h2.sub-headline {
        margin-bottom: calc(.5em - #{$image-space});
    }

    .artist {
        position: relative;
        float: left;
        width: calc(50% - #{$image-space});

        // left
        &:nth-child(even) {
            margin: $image-space $image-space $image-space 0;
        }

        // right
        &:nth-child(odd) {
            margin: $image-space 0 $image-space $image-space;
        }

        // text mittig setzen
        strong {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            text-align: center;
        }

        // hover effekct
        &:hover {
            opacity: .8;

            strong {
                display: block;
            }
        }
    }


    @media (min-width: $bp-xs) {
        .artist {
            strong {
                font-size: 1.4em;
            }
        }
    }

    @media (min-width: $bp-sm) {
        h2.sub-headline {
            margin-bottom: calc(1em - #{$image-space});
        }

        .artist {
            // 32.5% -> is halt so^^
            width: calc(32.5%  - (2 * #{$image-space}) / 3);

            // reset old settings
            &:nth-child(even), &:nth-child(odd) {
                margin: 0;
            }

            // left
            &:nth-child(3n+2) {
                margin: $image-space $image-space $image-space 0;
            }

            // middle
            &:nth-child(3n+3) {
                margin: $image-space;
            }

            // right
            &:nth-child(3n+1) {
                margin: $image-space 0 $image-space $image-space;
            }
        }
    }
}