.icon {
    display: inline-block;
}


.icon.icon-facebook {
    background: url($image-directory + 'icons/facebook.png') no-repeat;
    width: 3.5em;
    height: 4em;
}

.icon.icon-mixcloud {
    background: url($image-directory + 'icons/mixcloud.png') no-repeat;
    width: 5.5em;
    height: 4em;
}