#events {

    .table {
        /// other rows
        .table-row {
            float: left;
            width: calc(100% - 1em);
            text-decoration: none;
            padding: .5em .5em .2em .5em;

            &:nth-child(even) {
                background: $white;
                color: $black;

                span.icon-facebook-white {
                    background: url($image-directory + 'icons/facebook_grey.svg') no-repeat;
                }
            }

            &:nth-child(odd) {
                background: $grey;
                color: $white;
            }

            &:hover {
                opacity: .8;
            }

            span:not(.icon-facebook-white) {
                float: left;
                text-align: left;
                @include dynamicTextOverflow(100%);
            }

            /// single columns
            .name {
                width: calc(100% - 30px);
            }

            .date,
            .artists,
            .city,
            .location {
                display: none;
            }
        }

        /// head row
        .table-head {
            padding: .75em .5em;

            span {
                background: $grey;
                color: $white;
            }
        }

    }


    @media (min-width: $bp-xs) {
        .table .table-row {
            .name {
                width: calc(70% - 35px);
            }

            .location {
                display: block;
                width: 30%;
            }
        }
    }

    @media (min-width: $bp-sm) {
        .table .table-row {
            .name {
                width: 26%;
            }

            .date {
                display: block;
                width: 14%;
            }

            .artists {
                display: block;
                width: 20%;
            }

            .city {
                display: block;
                width: 17%;
            }

            .location {
                width: 16%;
            }
        }
    }

    @media (min-width: $bp-lg) {
        .table .table-row {
            .name {
                width: 28%;
            }
        }
    }
}