.navigation {
    position: relative;
    float: left;
    width: 100%;
    background: $white;
    color: $black;

    > ul {
        margin: 0;
        padding: 0;

        > li {
            float: right;
            margin: .5em 1em 0 1em;
            cursor: pointer;

            &.logo {
                float: left;
                margin: 0 1em;
                background: url('/images/Goodhood_Logo.jpg') no-repeat;
                background-size: 100% auto;
                height: 39px;
                width: 39px;
            }

            &.menu-mobile-button {
                float: right;
                margin: 0 1em;
                background: url('/images/menu-mobile-button.png') no-repeat;
                background-size: 100% auto;
                height: 40px;
                width: 40px;

                &:hover {
                     + .menu ul {
                         height: 215px;
                     }
                }
            }

            &.menu ul:hover {
                height: 215px;
            }

            ul {
                position: absolute;
                top: 100%;
                right: 0;
                width: 200px;
                background: $white;
                z-index: 10;
                padding: 0;

                // for animation
                height: 0;
                overflow: hidden;
                transition: height 200ms ease-in;

                li {
                    float: left;
                    width: 100%;

                    &:hover {
                        background: $black;

                        a {
                            color: $white;
                        }
                    }
                    
                    a {
                        //float: left;
                        width: 100%;
                        display: inline-block;
                        padding: .5em 1em;
                        color: $black;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 1.25em;
                    }
                }
            }
        }
    }


    @media (min-width: $bp-sm) {
        > ul {
            > li {
                float: right;
                margin: .5em 1em 0 1em;
                cursor: pointer;

                &.menu-mobile-button {
                    display: none;
                }

                /// kein dropdown mehr -> keine animation bei hover
                &.menu ul:hover {
                    height: auto;
                }

                &.menu {
                    margin: 0;

                    ul {
                        height: auto;
                        position: relative;
                        width: 100%;

                        li {
                            width: initial;
                        }
                    }
                }
            }
        }
    }
}