#mediaBox {

    .button {
        float: left;
        width: 100%;
    }

    .music-and-links {
        float: left;
        width: 100%;
        margin: 2em 0;

        .links {
            margin-top: 1em;
        }

        .direct-link {
            display: block;
            word-wrap: break-word;
        }
    }
    
    @media (min-width: $bp-sm) {
        .music-and-links {

            .music, .links {
                float: left;
                width: calc(50% - .5em);
            }

            .music {
                padding-right: 1em;
            }

            .links {
                float: right;
                margin-top: 0;

                .link {
                    float: right;
                }

                .icon {
                    background-size: 80%;
                }

                .icon-mixcloud {
                    width: 5em;
                }
            }

            .direct-link {
                margin-top: -.5em;
                font-size: 1em;
                text-align: right;
                width: 100%;
            }
        }
    }
}