#mediaBox {

    .button {
        float: left;
        width: 100%;
    }

    .music-and-links {
        float: left;
        width: 100%;
        margin: 2em 0;

        .links {
            display: inline-block;
            margin-top: 1em;

            .icon {
                margin: 0 10px;
            }
        }

        .direct-link {
            display: block;
            word-wrap: break-word;
        }
    }

    
    @media (min-width: $bp-sm) {
        .music-and-links {

            .music, .links {
                float: left;
                width: calc(50% - .5em);
            }

            .music {
                padding-right: 1em;
            }

            .links {
                float: right;

                .link {
                    float: right;
                }
            }

            .direct-link {
                font-size: 1em;
                text-align: right;
                width: 100%;
            }
        }
    }
}